.list-nav {
    /* overflow: hidden; */
    z-index: 999;
    width: 82px;
    height: 82px;
    position: fixed;
    right: 30px;
    bottom: 65px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 82px;
    text-align: center;
    color: #ffb100;
    font-weight: 700;
    background-color: rgba(96, 52, 18, .6);
}

.list-nav img {
    position: absolute;
    top: 0;
    left: 0;
}

#plug-in {
    bottom: 395px;
}

#mobile-app {
    perspective: 500;
    bottom: 285px;

}

.fanzhuang {
    position: relative;
    height: 100%;
    /* background-color: green; */
    transform-style: preserve-3d;
    transition: all 1s;
}

#mobile-app img:first-child {
    /* display: none; */
    transform: translateZ(42px);
    z-index: 2;
}

#mobile-app img:last-child {
    /* display: none; */
    transform: translateY(41px) rotateX(90deg);
}

.roll {
    transform: rotateX(90deg)
}

#weibo {
    bottom: 175px;
}