body {
    background-image: url(../images/login/background-lg.jpg);
    background-position: top center;
    background-size: cover;
}

/* 登录框部分 */
.step-container {
    width: 448px;
    margin: 100px auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #2e597f;
}
.step-container .step {
    text-align: center;
    margin: 0 20px 0 20px;
    padding: 30px 0 0 0;
}
.step-container .step::before {
    content: '';
    display: block;
    width: 125px;
    height: 65px;
    margin: auto;
    background-image: url(../images/login/blizzard-logo.svg);
    background-size: 100%;
}
.step_content {
    margin-top: 35px;
}
.step-container .step_content {
    display: line-flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}
.step-container .step_content h1 {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 4px;
}
.step-container .step_content p {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin: 20px 0 0;
    line-height: 1.5;
    /* 在恰当的断字点进行换行：只能在半角空格或连字符处换行。 */
    word-break: keep-all;
}
.step-container .step_content p .step__tooltip {
    display: inline-block;
}
.step-container .step_content p .step__tooltip .step__tooltip__anchor {
    position: absolute;
    left: 0;
    right: 0;
}
.step-container .step_content p .step__tooltip .step__tooltip__anchor .step__tooltip__description {
    display: none;
    position: absolute;
    background-color: #000;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,.15);
    width: 406px;
    left: 0;
    bottom: 6px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    z-index: 3;
    box-sizing: border-box;
}
.step-container .step_content p .step__tooltip .step__tooltip__anchor .step__tooltip__description a {
    color: #139CFF;
    font-size: 14px;
}
.step-container .step_content  .step__tooltip .step__tooltip__title {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #139CFF;
    cursor: help;
}
.step-container .step_content .step__tooltip  .step__tooltip__title::after {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    width: 13px;
    height: 13px;
    transform: rotate(45deg);
    background-color: #000;
    border-right: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);
    z-index: 4;
}
.step-container .step_content form {
    margin-top: 20px;
    width: 100%;
}
.step-container .step_content form .form_country {
    position: relative;
    width: 406px;
    height: 40px;
    background-color: #071e3d;
    margin: 0 auto;
    margin-bottom: 20px;
}
.step-container .step_content form .form_country select {
    padding-left: 12px;
    padding-right: 48px;
    background: transparent;
    width: 100%;
    height: 40px;
    border: 0;
    outline:none;
    font-size: 16px;
    color: #fff;
    appearance:none;
    
}
.step-container .step_content form .form_country .one {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #071e3d;
}
.step-container .step_content form .form_country .two {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #139cff;
    border-top: 0;
    border-left: 0;
    transform: rotateZ(45deg);
}
.step-container .step_content form .id {
    width: 406px;
    height: 40px;
    background-color: #031021;
    margin: 0 auto;
    margin-bottom: 20px;
}
.step-container .step_content form .id input {
    width: 406px;
    height: 40px;
    background-color: #031021;
    border: 0;
    padding: 0 12px;
    font-size: 16px;
    color: #fff;
}
.step-container .step_content form .step__field-errors {
    
    list-style: none;
    text-align: left;
}
.step-container .step_content form  .step__field-errors-item {
    display: none;
    margin-top: 0;
    padding: 0;
    line-height: 0;
    text-align: left;
    color: orange;
    font-size: smaller;
}
.step-container .step_content form button {
    display: block;
    width: 406px;
    height: 40px;
    background-color: #006FB2;
    color: #fff;
    border: 1px solid #00aeff;
    font-size: 16px;
    order: 100;
    margin: 0 auto;
    margin-top: 90px;
}
.step-container .step_content .step__hr {
    margin: 20px 0 0;
}
.step-container .step_content .step__hr p {
    color: #AEBECE;
}
.step-container .step_content .wy {
    width: 44px;
    height: 44px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}
.step-container .step_content .wy a {
    display: inline-block;
    width: 44px;
    height: 44px;
    /* width: 100%; */
    background: url(../images/login/netease-logo.svg) no-repeat;
    background-size: 70%;
    background-position: center center;
}
.step-container .step_content .step__block {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}
.step-container .step_content .step__block a {
    color: #139CFF;
    font-size: 16px;
}
.step-container ul {
    display: flex;
    align-items: center;
    margin: 0 auto;

    justify-content: center;
    padding: 30px 20px;
}
.step-container ul li:first-of-type {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #139CFF;
}
.step-container ul .step__pagination__item {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .15);
    float: left;
    margin-left: 8px;

}

/* 下面部分 */
.NavbarFooter .NavbarFooter-logoContainer {
    margin: 30px 0;
    height: 66px;
}
.NavbarFooter .NavbarFooter-logoContainer a {
    display: block;
    width: 124px;
    height: 66px;
    background: url(../images/login/blizzard-logo.svg) no-repeat;
    margin: 0 auto;
}
.NavbarFooter .NavbarFooter-links {
    margin: 15px 0;
    color: rgba(255, 255, 255, .7);
    font-size: 17px;
    text-align: center;
}
.NavbarFooter .NavbarFooter-links a:hover {
    color: #fff;
}
.NavbarFooter .NavbarFooter-copyright {
    color: rgba(255, 255, 255, .3);
    font-size: 13px;
    text-align: center;
}
.NavbarFooter .NavbarFooter-trademark a {
    color: rgba(255,255,255,.7);
}
.NavbarFooter .NavbarFooter-link {
    margin: 10px 0;
}
.NavbarFooter .NavbarFooter-link a {
    color: rgba(255,255,255,.7);
}
.NavbarFooter .NavbarFooter-link a:hover {
    color: #fff;
}
.NavbarFooter-legal {
    padding-bottom: 20px 0 30px 0;
}
.NavbarFooter .NavbarFooter-additionalLegal {
    text-align: center;
    font-size:  12px;
    line-height: 1.4;
    color: rgba(255,255,255,.3);
}
.NavbarFooter .NavbarFooter-additionalLegalPull {
    margin-top: -20px;
    position: static;
    top: auto;
}
.NavbarFooter .NavbarFooter-additionalLegal .NavbarFooter-additionalLegalLine {
    display: inline-block;
    padding: 0 3px;
    line-height: 1.4;
    color: rgba(255,255,255,.3);
    white-space: normal;
}
.NavbarFooter .NavbarFooter-additionalLegal .NavbarFooter-additionalLegalLine a:hover {
    color: #fff;
}
.NavbarFooter .NavbarFooter-additionalLegalIcons {
    margin: 10px 0;
}
.NavbarFooter .NavbarFooter-additionalLegalIcons .NavbarFooter-additionalLegalIcon {
    width: 26px;
    height: 26px;
    margin: 0 5px;
    vertical-align: top;
}

